div {
  background-color: black;
  color: black;
  border: 1px solid black;
}
doby {
  background-color: black;
  color: black;
  text-align: center;
  border-radius: 100px 70px 100px 70px;
  width: 250px;
  height: 300px;
}
